
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ㅇㅇ중 정보 수업</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/fade_effect.css">
</head>
<body>
  <h1 class="title">🖥️ ㅇㅇ중 정보 수업 로그인</h1>
  <form class="login-box" onsubmit="event.preventDefault(); lookup();">
    <input type="text" id="idname" placeholder="학번 이름 (예: 10101 김ㅇㅇ)">
    <input type="password" id="password" placeholder="사이트 비밀번호">
    <button type="submit">로그인</button>
</form>
  </div>
  <div id="result"></div>
  <a href="스프레드시트 주소 입력(공유권한 제한해야 함)" 
   target="_blank" 
   style="display: block; text-align: center; color: gray; font-size: 11px; margin-top: 15px; text-decoration: none;">
  관리
</a>


  <script src="static/main.js" charset="utf-8"></script>
</body>
</html>
