<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ㅇㅇ중 정보 :: 메인</title> <!--배포시 학교명 삭제-->
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/fade_effect.css">
</head>

<body>
  <!-- 메인 콘텐츠 -->
  <div id="main-content">
    <!-- 콘텐츠가 여기에 동적으로 로드됩니다 -->
  </div>
  <a href="https://github.com/leetk321/ClassHelper" target="_blank"
    style="display: block; text-align: center; color: gray; font-size: 11px; margin-top: 15px; text-decoration: none;">사이트
    제작 : 이태근</a> <!--배포시 링크 및 주소 삭제-->
  <a href="관리자 페이지 링크"
    target="_blank"
    style="display: block; text-align: center; color: gray; font-size: 11px; margin-top: 10px; text-decoration: none;">사이트 주소</a>
  <script src="/static/main.js"></script>
</body>

</html>